[mysql]
#mysql客户端默认字符集
default-character-set=utf8

[mysqld]
# 设置3306端口
port = 3306

bind-address = 0.0.0.0
# 允许最大连接数
max_connections=1000

# 设置mysql服务端默认字符集
character-set-server=utf8

# 创建新表时将使用的默认存储引擎
default-storage-engine=INNODB

# 缓存大小
sort_buffer_size=256MB

default-time_zone = '+8:00'